.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #0f4d81;
}
/* bar color*/
.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #0f4d81;
}
/*number background*/
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    color: white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #0f4d81;
    border-radius: 4px;
}
